.button {
	@include button;
	
	&.cta {
	  color: #fff;
	  text-shadow: -1px -1px 0 rgba(54, 85, 5, 0.5);
  	@include button_cta_colours;
		@include box_shadow(0, 1px, 0px, rgba(0,0,0,0.12));
		
		&:hover,
		&:focus,
		&:active {
		  background: #6fb23d;
		  border-top: 1px solid #83AC2E;
		  color: #fff;
		}

		&:active {
			@include box_shadow(0, 0, 0, rgba(0,0,0,0));
		}
    &[disabled="disabled"],
    &[disabled="disabled"]:hover,
    &[disabled="disabled"]:focus {
      @extend %form_field_disabled;
    }
	}
	&.delete:hover {
	  color: $red;
	}
	&.create,
	&.create:hover,
	&.create:focus {
	  background: rgba(55, 78, 11, 0.15);
	  border: 0;
	  margin-bottom: 0.75em;
	  padding: 5px;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
		@include border_radius(4px,4px,4px,4px);
		@include box_shadow(0, 0, 0, rgba(0,0,0,0));
	}
	&.create:active {
	  padding-bottom: 5px;
	  padding-top: 5px;
	}
	&.create span {
	  color: #374E0B;
	  cursor: pointer;
	  display: inline-block;
		font-weight: normal;
	  margin: 0 auto;
	  overflow: visible;
	  padding: 1em 1.5em;
	  text-align: center;
	  text-shadow: 0 1px 0 rgba(255,255,255,0.25);  
	  width: auto;
  	@include button_cta_colours;
		@include border_radius();
		@include box_shadow(inset, 0, 1px, 0, rgba(255,255,255,0.15));
	  @include restrained;
	}
	&.create:hover span,
	&.create:focus span {
	  background: #8FB533;
	  border-bottom: 1px solid #729823;
	  border-top: 1px solid #83AC2E;
	  color: #374e0b;
	  outline: 0;
	  text-decoration: none;
	}
	&.create em {
	  background: none;
	  color: #fff;
	  display: block;
		font-style: normal;
		font-weight: bold;
	  padding: 0;
	  text-shadow: 0 1px 0 #5D7D1D;  
	  @include outspoken;
	}
}
.button + a {
  padding-left: 1em;
}
.button.selected,
.multiple_choice .button.selected {
  border-bottom: 1px solid #B7BCC1;
  border-left: 1px solid #B7BCC1;
  border-right: 1px solid #B7BCC1;
  border-top: 1px solid #979797;
  color: $base_colour_dark;
  text-shadow: 0 1px 0 rgba(255,255,255,0.20);
	@include box_shadow(inset, 0, 7px, 0, rgba(0,0,0,0.20));
	@include linear_gradient(#b7bcc1, #d8dbde);
}
.multiple_choice {
	.choice {
	  margin: 0;
		
		&:first-child > .button {
		  border-top: 1px solid #e5e5e5;
			@include border_radius(3px,3px,0,0);
		}
		&:last-child > .button {
			@include border_radius(0, 0, 3px, 3px);
		}
		&:first-child > .selected {
		  border-top: 1px solid #979797;
		}
	}
	
	.button {
	  border-bottom: 1px solid #d4d4d4;
	  border-top: 0;
	  color: $base_text_colour;
	  display: block;
	  font-weight: normal;
	  margin: 0;
	  padding: 1em;
	  text-align: left;
		@include border_radius(0, 0, 0, 0);
		@include box_shadow(0, 0, 0, rgba(0,0,0,0));
		
		&:active {
			top: 0;
		}
	}
}
fieldset .button[disabled="disabled"],
fieldset .button[disabled="disabled"]:hover,
fieldset .button[disabled="disabled"]:focus {
  @extend %form_field_disabled_fieldset;
}
form .button {
  margin-right: 0.5em;
}