table {
  line-height: 120%;
  width: 100%;
}
td,
th {
  border-bottom: 1px solid #eee;
  padding: 0.65em 0.5em;
  text-align: left;
  vertical-align: middle;
}
tr:last-child td {
  border-bottom: 0;
}