.vh_centered,
.vh_centered > body,
.vh_centered .table_display,
.vh_centered .table_cell {
  height:100%;
  margin:0;
  padding:0;
  width:100%;
}
.table_display {
  display: table;
	
	.table_cell {
		display: table-cell;
		vertical-align: middle;
	}
	.cell_contents {
		margin: 0 auto;
		
		&.focussed {
			max-width: 40em;
		}
	}
}