.light_90 {
  color: $light_90;
}
.light_80 {
  color: $light_80;
}
.light_70 {
  color: $light_70;
}
.light_60 {
  color: $light_60;
}
.dark_20 {
  color: $dark_20;
}
.dark_30 {
  color: $dark_30;
}
.dark_40 {
  color: $dark_40;
}
.positive {
  color: $green_text;
}
.negative {
  color: $red;
}